

body, html {

	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale;
	color: #ffffff;
	width: 100%;
	height: 100%;

}
/*Takes Out Horizontal Scrollbar*/
body{
    overflow-x:hidden;
}
/* Fading Effect*/
.fadeInBlock{
  opacity:0;
}


/* Text Section */
h1{
  font-size: 40px;
	letter-spacing: -2px;
  font-weight:bold;
	color: #002727;
}

h2 {
	margin-top: 0;
	color: #ffffff;
	font-weight: 900;
	margin-bottom: 20px;
	font-size: 40px;
}
h4 {
	color: #00ffff;
	font-size: 20px;
	font-weight: 600;
}

/* Navbar Section */

#nav {

  top: 0px;
  width: 100%;
	z-index: 9999;
}


.navbar-toggle .icon-bar{
 background-color: #00ffff;

}


.navbar-custom{
  background-color: black;
  margin-bottom: 0;
  padding: 10px 0;
}

.navbar-custom .navbar-brand , .navbar-custom .nav li a{
	font-weight: 600;

}

.navbar-custom a {
	color: #00ffff;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 3px;

}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: yellow;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: yellow;
}

.navbar-custom .nav li.active a:hover {
	color: yellow;
}

/*** Header Button ***/
#header .btn-default{
	color: #00ffff;
	background-color: transparent;
	border-color: #00ffff;
	padding: 15px 30px;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 0;
	transition: 0.5s ease-out;

}
#header .btn-default:hover{
	color: #00ffff;
	background-color: black;
	border-color: #00ffff;
	margin-top: 20px;
	outline: none;
	-webkit-box-shadow: 20px 20px 20px #000;
	box-shadow: 20px 20px 20px #000;
	transition: 0.7s ease;


}

#header .btn-default:focus{
	color: #00ffff;
	background-color: transparent;
	border-color: #00ffff;
	outline: none;
	-webkit-box-shadow: 0px 0px 0px #000;
	box-shadow: 0px 0px 0px #000;
}

#header .btn:active, .btn.active {
	color: #00ffff;
	background-color: transparent;
	border-color: #00ffff;
	outline: none;
	-webkit-box-shadow: 0px 0px 0px #000;
	box-shadow: 0px 0px 0px #000;

}






/*** Header Section ***/

.intro {
	display: grid;
	width: 100%;
  height: 0;
	padding-top: 200px;
  padding-bottom: 400px;
  padding-left: 10%;

	text-align: center;
	color: #fff;
	background-image: url(../img/self-bg.png);
  background-repeat: no-repeat;
	background-color: #00ffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#header .intro-text{
	font-weight:bolder;
  font-size: 40px;
	text-align:right;

	position: relative;
	display:none;

	max-width: 75%;
  padding: 0%;

	margin: 0;

}


#header .name{
  color: #00ffff;
	
  letter-spacing: -3px;


}

#header .job-title{
	font-size: 25px;
	color: #002727 ;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: -1px;


}





/*** About Section ***/
#about {
	padding: 5%;
	background-color: #00ffff;
}



#about .about-text {
  font-size: 20px;
  font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold;
	color: #000;


}

#about p {
	max-width: 90%;
	margin-top: 2%;
	margin-bottom: 2%;

}




/*** Skills Section ***/
#skills {
	margin: 0px;

	padding-top: 5%;
	background: black;
}
#skills h2 {
	color: #fff;
	padding-bottom: 5% ;
}

#skills .skill {
	margin-bottom: 5%;
	text-align: center;
	padding: 0px;

}
#skills .skill h4 {
	font-weight: 900;
	color: #fff;
}

#skills .skill h4:hover{
	color: #00ffff;
}




/*** Portfolio Section ***/
#portfolio {

  position:static;
	padding-top: 5%;
	padding-bottom: 5%;
	background: #00ffff; /* Old browsers */
	background: -moz-linear-gradient(top, #000 0%, #00ffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #00ffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000 0%, #00ffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000 0%, #00ffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000 0%, #00ffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #000 20%, #00ffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#00ffff', GradientType=0 ); /* IE6-9 */
}

#portfolio .portfolio-title{
	text-align: center;
}


/*Portfolio Categories*/

#portfolio .iso-nav {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	font-family:cursive;
	font-weight:bold;

}
.iso-nav li {
	display: inline-block;
	margin:0;
	padding:2% 3%;
	list-style:none;

}
.iso-nav li {
	margin: 0;

}
.iso-nav li a {
	background: #000;
	color: #fff;
	padding: 5px 20px;
}
.iso-nav li a.active {
	background: #00ffff;
	color: #000;

}
.iso-nav li a:hover {
	background: #00ffff;
	color: #000;
}







/*Portfolio Items*/

#portfolio .isotope-filters{
	height: 100%;
	width: 100%;
}

.portfolio-item {
	height: 100%;
	width: 80%;

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.portfolio-item .hover-bg {

	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	color: #00ffff;
	background: rgba(0, 0, 0, 0.5);
	padding: 30%;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	font-weight: 400;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	transition: all 0.5s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}



/* Contact Section */
#contact {

	padding: 50px 0 100px 0;
	background: #00ffff;
}

#contact h2 {
	padding-left: 1%;
}

#contact form {
	padding: 20px 0;
	display: inline-block;

}

#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
#contact i.fa {
	color: #000;


}

 #contact .myEmail{
	 color: #000;
	 font-size: 18px;
	 font-family: sans-serif;
	 font-weight: bold;
	 text-align: left;
 }

#contact .form-control {
	display:inline-block;
	width: 100%;
	padding: 10px 12px;
	font-size: 14px;
	line-height: 1.3;
	color: #000;
	background-color: rgba(	255, 255, 255,0.2);
	background-image: none;
	border: 0;
	border-radius: 0px;
	-webkit-transition: none;
	-o-transition: none;
	transition: 0.2s ease;


}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	background-color: rgba(	255, 255, 255,0.7);
	-webkit-box-shadow: 12px 12px 12px #000;
	box-shadow: 12px 12px 12px #000;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

}
.form-control::-webkit-input-placeholder {
color: #000;
}
.form-control:-moz-placeholder {
color: #000;
}
.form-control::-moz-placeholder {
color: #000;
}
.form-control:-ms-input-placeholder {
color: #000;
}

#contact .btn {
	font-size: 18px;
	font-weight: bolder;
	background-color: rgba(	255, 255, 255,0.2);
	padding: 15px 30px;
	color: #000;
	border: 0;
	margin-top: 40px;
	-webkit-box-shadow: 12px 12px 12px #000;
	box-shadow: 12px 12px 12px #000;

}
#contact .btn:hover{
	background-color: #000;
	color: #00ffff;

	outline: none;
}
#contact .btn:focus {
	background-color: #000;
	color: #00ffff;

	outline: none;
	-webkit-box-shadow: 12px 12px 12px #000;
	box-shadow: 12px 12px 12px #000;
	transition: 0.5s ;

}
#contact .btn:active, .btn.active {
	background-image: none;
	border: 0;
	outline: none;
	-webkit-box-shadow: 0px 0px 0px #000;
	box-shadow: 0px 0px 0px #000;
	transition: 0.1s;

}

#contact .twitter-group{
	max-width: 100%;

}


/* Footer Section*/
#footer {

	background: #000;
	color: #575B5C;
	padding: 30px 0 20px 0;

}
#footer p {
	display:inline-block;
	max-width: 100%;
	font-size: 13px;
	text-align: left;
	margin-right: 40%;


}


#footer .social {

	margin-top: -35px;
	margin-left: 50%;
	text-align: right;
  overflow: hidden;

}
#footer .social ul li {
	display: inline-block;
	margin: 0 10px;
}
#footer .social i.fa {
	font-size: 20px;
	padding: 5px 5px;
	color: #fff;
	transition: all 0.5s;
}
#footer .social i.fa:hover {
	color: #00ffff;
}


/* CSS media query within a stylesheet */
@media(min-width:768px) {
.intro {
	display: grid;
	width: 100%;
	height: 0px;
	padding-top: 0px;
	padding-bottom: 50%;
	padding-left: 25%;


	color: #fff;
	background-image: url(../img/self-bg.png);
	background-repeat: no-repeat;
	background-color: #00ffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;

}

#header .intro-text{
	font-weight:bolder;
  font-size: 40px;
	text-align:right;

	position: relative;
	display:none;

	max-width: 70%;
  padding: 0%;
	padding-left: 0%;
	margin: 0;

}

#header h1 {
	color: #002727 ;
	font-size: 65px;
	font-family: 'Helvetica Neue', sans-serif;
	letter-spacing: -5px;
	font-weight: bold;
	padding-top: 25%;
}

#header .job-title{
	font-size: 35px;
	color: #002727 ;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: -1px;


}


#portfolio .isotope-filters{
	height: 100%;
	width: 100%;
}


	.portfolio-item {
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	}

}
